<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
<!-- localhost:8080+项目名+ws+/
WSDL路径：http://localhost:8080/mobileAppService-host/ws/mobileAppManager?wsdl
-->

 <context:component-scan base-package="youshan.com"></context:component-scan>
    <jaxws:server address="/mobileAppManager" serviceClass="youshan.com.MobileAppService">
        <jaxws:serviceBean>
            <ref bean="mobileAppServiceImpl"/>
        </jaxws:serviceBean>
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
        </jaxws:inInterceptors>
        <jaxws:outInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
           </jaxws:outInterceptors>
    </jaxws:server>

</beans>